//
// foundational styles
//

@import '../config/base';

html {
  font-size: $rem-size;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;

  line-height: $line-height;

  text-rendering: $text-rendering;

  color: $body-color;
  background-color: $body-background-color;

  min-height: 100vh;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
