//
// container used to horizontally center content on larger displays
//

@import '../config/breakpoints';

.o-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;

    @each $name, $value in $breakpoints {
        // ..--max-{...$breakpoints}
        &--max-#{$name} {
            max-width: map-get($breakpoints, $name) !important;
        }

        // responsiveness
        @include breakpoint($name) {
            max-width: $value;
        }
    }
}
