//
// style for <code> elements
//

@import '../config/base';

code {
    font-family: $font-family-monospace;
    line-height: $line-height;
    padding: 0.1em 0.25em;
    border-radius: $border-radius;
    background-color: $gray-light;
}
