//
// coherent style for all form related elements
//

input,
select,
button,
input[type="submit"],
textarea
{
    font-size: 1em;
    line-height: inherit;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input,
select,
button,
input[type="submit"]
{
    height: 2em;
    padding: 0.1em 0.5em;
}

button:not([disabled]),
input[type="submit"]:not([disabled])
{
    background-color: $button-color;
    cursor: pointer;
}

button:not([disabled]):hover,
input[type="submit"]:not([disabled]):hover
{
    background-color: $button-color-hover;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'><path d='M5 10L0 0h10z' stroke='none' fill='%23444'/></svg>") no-repeat right 0.5em center;
    background-size: 0.4em;

    padding-right: 1.5em;

    cursor: pointer;
}

textarea {
    padding: 0.25em 0.5em;
}

label {
    font-size: 0.85em;
    font-weight: 500;
}

fieldset {
    padding: 0.75em;
}
