//
// style for headings h1..h6 / $heading-sizes
//

@import '../config/base';
@import '../config/typography';

@each $heading, $size in $heading-sizes {
  h#{$heading} {
    font-family: $font-family-headings;
    font-size: $size;
    font-weight: 600;

    line-height: calc($size * 1.5);

    margin-top: calc($size * 0.25);
    margin-bottom: calc($size * 0.33);
  }
}
