//
// style for headings h1..h6 / $headingSizes
//

@import '../config/typography';

@each $heading, $size in $headingSizes {
  h#{$heading} {
    font-size: $size;
    font-weight: 600;

    line-height: calc($size * 1.5);

    margin-top: calc($size * 0.25);
    margin-bottom: calc($size * 0.33);
  }
}
